{%extends 'base.html'%}

{%block content%}
<div class="d-flex mb-2">
    <div class="flex-grow-1 fw-bold">My Tasks</div>
    <a class="btn btn-sm btn-primary" href="{%url 'task-create'%}"><i class="bi bi-plus-circle me-1"></i>New Task</a>
</div>
{% if tasks %}
<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item d-flex align-items-center">
        <a href="{% url 'task' task.id %}"
            class="{% if task.completed%}completed flex-grow-1{% else %}flex-grow-1{%endif%}">
            {{task.title }}
        </a>
        <a href="{%url 'task-update' task.id %}" class="btn btn-sm btn-warning shadow-sm me-2"><i
                class="bi bi-pencil-square"></i></a>
        <a href="{%url 'task-delete' task.id %}" class="btn btn-sm btn-danger shadow-sm"><i class="bi bi-trash"></i></a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>🎉 Yay, you have no pending tasks! <a href="{%url 'task-create'%}">Create Task</a></p>
{% endif %}
{%endblock content%}